<%= form_with model: contact, local: true do |f| %>
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <%= f.text_field :name, class: "input #{' is-danger' if contact.errors[:name].present?}" %>
    </div>

    <% if contact.errors[:name].present? %>
      <p class="help is-danger">
        Name <%= contact.errors[:name].to_sentence %>
      </p>
    <% end %>
  </div>


  <div class="field">
    <label class="label">Address</label>
    <div class="control">
      <%= f.text_area :address, class: 'textarea' %>
    </div>
  </div>

  <div class="field is-grouped has-top-spacing">
    <div class="control">
      <%= f.submit 'Submit', class: 'button is-primary' %>
    </div>

    <div class="control">
      <%= link_to 'Back', contacts_path, class: 'button is-text' %>
    </div>
  </div>
<% end %>
