<h1 class="title is-1">Contacts</h1>

<table class="table is-fullwidth is-striped is-hoverable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th class="actions"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.address %></td>

        <td class="actions">
          <%= link_to contact do %>
          <span class="icon">
            <i class="fas fa-eye"></i>
          </span>
          <% end %>

          <%= link_to edit_contact_path(contact) do %>
          <span class="icon">
            <i class="fas fa-pencil-alt"></i>
          </span>
          <% end %>

          <%= link_to contact, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="icon">
            <i class="fas fa-trash-alt"></i>
          </span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Contact', new_contact_path, class: 'button is-rounded is-link is-pulled-right' %>
