<%= form_with model: document, local: true do |f| %>
  <% if document.new_record? %>
    <div class="field">
      <%= f.label :original_file, 'Document', class: 'label' %>
      <div class="file has-name<%= ' is-danger' if document.errors[:original_file].present? %>">
        <label class="file-label">
          <%= f.file_field :original_file, class: 'file-input' %>

          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Choose a file…
            </span>
          </span>

          <span class="file-name">
            No file chosen
          </span>
        </label>
      </div>
      <% if document.errors[:original_file].present? %>
        <p class="help is-danger">
          Document <%= document.errors[:original_file].to_sentence %>
        </p>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, 'Title', class: 'label' %>
    <div class="control">
      <%= f.text_field :title, class: 'input' %>
    </div>
  </div>

  <div data-controller="paired-contacts"
       data-paired-contacts-home-contact-id-value="<%= home_contact&.id %>"
       data-paired-contacts-select-contact-outlet=".select-contact">
    <div class="field">
      <%= f.label :sender_id, 'Sender', class: 'label' %>
      <div class="control is-expanded">
        <%= render 'contacts/select', form: f, model: document, field: :sender, contacts: sender_options %>
      </div>
    </div>

    <div class="field">
      <%= f.label :recipient_id, 'Recipient', class: 'label' %>
      <div class="control is-expanded">
        <%= render 'contacts/select', form: f, model: document, field: :recipient, contacts: recipient_options %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :sent_at, 'Sent at', class: 'label' %>
    <div class="control is-flex">
      <%= f.date_field :sent_at, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :received_at, 'Received at', class: 'label' %>
    <div class="control is-flex">
      <%= f.date_field :received_at, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :tag_names, 'Tags', class: 'label' %>
    <div class="control">
      <%= f.text_field :tag_names, type: 'tags', value: document.tag_names.join(',') %>
    </div>
  </div>

  <div class="field is-grouped has-top-spacing">
    <div class="control">
      <%= f.submit 'Submit', class: 'button is-primary' %>
    </div>

    <div class="control">
      <%= link_to 'Back', documents_path, class: 'button is-text' %>
    </div>
  </div>
<% end %>
