
<%= simple_form_for document do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :original_file %>
    <%= f.input :title %>
    <%= f.association :sender %>
    <%= f.association :recipient %>
    <%= f.input :sent_at %>
    <%= f.input :received_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
