<%= form_with url: documents_path, method: :get, local: true, class: 'has-bottom-spacing' do |f| %>
  <div class="field is-grouped">
    <p class="control is-expanded">
      <%= f.text_field :query, value: params['query'], placeholder: 'What are you looking for?', class: 'input is-medium' %>
    </p>

    <p class="control">
      <%= f.submit 'Search', class: 'button is-primary is-medium' %>
    </p>
  </div>
<% end %>


<h1 class="title is-1 has-link">
  Documents

  <%= link_to 'New Document', new_document_path, class: 'button is-rounded is-link' %>
</h1>


<table class="table is-fullwidth is-striped is-hoverable">
  <thead>
    <tr>
      <th>Title</th>
      <th>Sender</th>
      <th>Recipient</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr class="is-link">
        <td><%= link_to document.title            || '&nbsp;'.html_safe, document %></td>
        <td><%= link_to document.sender&.name     || '&nbsp;'.html_safe, document %></td>
        <td><%= link_to document.recipient&.name  || '&nbsp;'.html_safe, document %></td>
        <td><%= link_to document.acted_at         || '&nbsp;'.html_safe, document %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @documents %>


<%= file_drop_overlay %>
<%= form_with model: Document.new, url: api_documents_path, class: 'document-form is-hidden' do |f| %>
  <%= f.file_field :original_file, class: 'file-input' %>
<% end %>
