<div id="document" class="columns">
  <div class="column">
    <div class="box has-equal-height description">
      <div class="content is-medium">
        <p>
          <strong>Title:</strong>
          <%= @document.title %>
        </p>

        <p>
          <strong>Sender:</strong>
          <%= @document.sender&.name %>
        </p>

        <p>
          <strong>Recipient:</strong>
          <%= @document.recipient&.name %>
        </p>

        <p>
          <strong>Sent at:</strong>
          <%= @document.sent_at %>
        </p>

        <p>
          <strong>Received at:</strong>
          <%= @document.received_at %>
        </p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="box has-equal-height">
      <% if @document.original_file.attached? %>
        <%= link_to url_for(@document.original_file), target: '_blank' do %>
          <object data="<%= url_for @document.original_file %>" type="application/pdf">
            <p>
              This browser does not support embedding PDF files.
              <%= link_to 'Click to download', @document.original_file, target: '_blank' %>.
            </p>
          </object>
        <% end %>
      <% end %>
    </div>
  </div>
