<div id="document" class="columns">
  <div class="column is-two-thirds">
    <div class="box has-equal-height">
      <object data="<%= object_url_for @document.original_file %>" type="application/pdf" class="file-preview">
        <p>
          This browser does not support embedding PDF files.
          <%= link_to 'Click to download', @document.original_file, target: '_blank' %>.
        </p>
      </object>
    </div>
  </div>

  <div class="column is-one-third">
    <div class="box has-equal-height">
      <div class="content">
        <p>
          <strong>Title:</strong>
          <%= @document.title %>
        </p>

        <p>
          <strong>Sender:</strong>
          <%= @document.sender&.name %>
        </p>

        <p>
          <strong>Recipient:</strong>
          <%= @document.recipient&.name %>
        </p>

        <p>
          <strong>Sent at:</strong>
          <%= @document.sent_at %>
        </p>

        <p>
          <strong>Received at:</strong>
          <%= @document.received_at %>
        </p>

        <p>
          <strong>Tags:</strong>
          <br>
          <% @document.tag_names.each do |tag_name| %>
            <span class="tag">
              <%= tag_name %>
            </span>
          <% end %>
        </p>

        <hr class="is-divider"></hr>

        <div class="actions is-flex">
          <%= link_to '#', data: {action: 'toggle-modal', target: 'metadata-modal'}, aria: {label: 'Show Metadata'} do %>
            <%= icon_for(:metadata) %>
          <% end %>

          <%= link_to rails_blob_path(@document.original_file, disposition: "attachment") do %>
            <%= icon_for(:download) %>
          <% end %>

          <%= link_to edit_document_path(@document) do %>
            <%= icon_for(:edit) %>
          <% end %>

          <%= link_to @document, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= icon_for(:delete) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<div class="modal" id="metadata-modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <p>
        <strong>Content:</strong>
      </p>
      <pre><%= @document.content %></pre>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
