<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Aktenkoffer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <%= link_to 'Aktenkoffer', root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'Documents', documents_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Contacts', contacts_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </div>

  </body>
</html>
