<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Aktenkoffer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to root_path, class: 'navbar-item' do %>
            <span class="icon is-large">
              <i class="fas fa-briefcase"></i>
            </span>

            <span class="is-size-4">Aktenkoffer</span>
          <% end %>
        </div>

        <div id="navigation" class="navbar-menu">
          <div class="navbar-end">
            <%= link_to 'Documents', documents_path, class: 'navbar-item' %>
            <%= link_to 'Contacts', contacts_path, class: 'navbar-item' %>
          </div>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
